language: scala

script: "sbt ++$TRAVIS_SCALA_VERSION coverage test"

after_success:
  - '[ "${$TRAVIS_SCALA_VERSION}" = "2.12.4" ] && sbt coverageReport coveralls'

scala:
   - 2.11.12
   - 2.12.4

jdk:
   - oraclejdk8
